@page "{code}"
@model qrcvm2_web.Pages.PedigreeModel
@{
    Layout = "_Pedigree";
    var code = RouteData.Values["code"];
}

@if(TempData["info"].ToString() == "1" || TempData["info"].ToString() == "2")
{
    <div id="header">
        <p>履歷編號: @code @TempData["err"]</p>
    </div>
    <div id="footer">
        <div id="login_div">
            <p>請輸入密碼</p>
            <form method="post">
                <input id="ped_text" name="pass" type="text"/>
                <br/>
                <input id="ped_btn" type="submit" value="確認">
                <input type="hidden" name="type" value="@TempData["info"]"/>
            </form>
        </div>
    </div>
}
else if(TempData["info"].ToString() == "3")
{
    int position = Convert.ToInt32(TempData["i"].ToString());
    <div id="header">
        <p>履歷編號: @code @TempData["err"]</p>
    </div>
    <div id="footer">
        <div class="pd_itmes">
            <div><p>紀錄時間</p></div >
            <div><p>工作內容</p></div>
            <div><p>備註</p></div>
        </div>

        @for (int i = 0; i < position; i++)
        {
        <div class="pd_itmes">
            <div><p>@TempData["Date" + i]</p></div >
            <div><p>@TempData["StepName" + i]</p></div>
            <div><p>@TempData["Description" + i]</p></div>
        </div>
        }
    </div>
}
else if(TempData["info"].ToString() == "4")
{
    <div id="header">
        <p>履歷編號: @code</p>
    </div>
    <div id="footer">
        <div id="login_div">
            <p>@TempData["err"]</p>
        </div>
    </div>
}
else
{
    <div id="header">
        <p>履歷編號: @code</p>
    </div>
    <div id="footer">
        <div id="login_div">
            <p>不存在</p>
        </div>
    </div>
}