@page
@model qrcvm2_web.Pages.WelcomePageModel
@{
    Layout = "_index";
}

<div class="container_inside">
    <iframe id="w_iframe" src="/web/S_WelcomePage.html" frameborder="0" scrolling="no"></iframe>
</div>

@if(TempData.Count() > 0)
{
    if(TempData["err_text"].ToString() == "公告")
    {
     <script>
        function log_success(){
                <Text>localStorage.setItem("AccountName","@TempData["AccountName"]");</Text>
                <Text>localStorage.setItem("KeyCode","@TempData["KeyCode"]");</Text>
                <Text>localStorage.setItem("UserName","@TempData["UserName"]");</Text>
                <Text>localStorage.setItem("Permission","@TempData["Permission"]");</Text>
        }
    </script>
    <div id="announcement_mask" onload="log_success()">
        <dialog id="announcement" open="true">
                <div>
                    <h4>@TempData["err_text"]</h4>
                </div>
                <div id="announcement_div"></div>
                <div>
                    <form method="post">
                        <button type="submit">Close</button>
                    </form>
                </div>
        </dialog>
     </div>
    }
}

